/* General styling for the homepage */
.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #f9fafb3d;
    backdrop-filter: blur(10px);
    border-radius: 15px;
  }
  
  /* Title styling */
  .home-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000000;
    text-align: center;
  }
  
  /* Card container for responsive grid */
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
  }
  
  /* Card styling */
  .service-card {
    background-color: #ffffff9d;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }
  
  /* Service title styling */
  .service-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #032c57;
    margin-bottom: 10px;
  }
  
  /* Service description styling */
  .service-description {
    font-size: 1rem;
    color: #555;
  }
  