body {
    background-image: url('../assets/images/signup_bg.jpg');
    background-size: cover;
  }
.login-container {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    align-items: center;
    padding: 25px;
  }

.login-card{
    height: 50px;
    align-items: center;
    padding: 25%;
    backdrop-filter: blur(10px);
    /* background-color: rgba(255, 255, 255, 0.267); */
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signup-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input-field {
    flex: 1;
    color: rgb(0, 0, 0);
  }
  
  .signup-button {
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    margin-top: 15px;
  }
  
  .signin-text {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
  }
  
  
  .signin-link {
    color: #032c57;
    text-decoration: none;
  }